
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><{$cars.p_allname}>-<{$setting.title}></title>
		<meta content="<{$setting.keywords}>" name="keywords" />
		<meta content="<{$setting.description}>" name="description" />
		<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/car.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery.js"></script>
		<script type="text/javascript" src="<{$weburl}>/static/js/layer/layer.min.js"></script>
		<script type="text/javascript" src="<{$weburl}>/static/js/laydate/laydate.js"></script>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery.SuperSlide.2.1.js"></script>
		<script type="text/javascript" src="<{$weburl}>/static/js/Validform_v5.3.2_min.js"></script>
		<script type="text/javascript" src="<{$weburl}>/templates/default/<{$setting.templates}>/js/jquery.SuperSlide.2.1.js"></script>
		<script language="JavaScript">
			$(function() {
				//品牌选择
				$("#brand").change(function(){
					$.get("<{$weburl}>/index.php?mod=ajax&ajax=1", { 
						pid :  $("#brand").val() 
					}, function (data, textStatus){
						   $("#subbrand").html(data); // 把返回的数据添加到页面上
						}
					);
				});
				$("div.car_tab ul li a").mouseover(function() {
					$(this).addClass("here").parent().siblings().children().removeClass("here");
					var index = $div_li.index(this);
					$("div.cartab_box > div").eq(index).show().siblings().hide();
				});
				$("#hits").load("<{$weburl}>/index.php?m=ajax&ajax=1&carshit=1&id=<{$cars.p_id}>");
				$(".emcity").toggle(
				  function () {
					$(".emission_city").show();
				  },
				  function () {
					$(".emission_city").hide();
				  }
				);
				//表单验证
				$(".yuyueform").Validform({
					tiptype:3
				});

				$('#yuyue').on('click', function(){
					var yuyueindex =  $.layer({
						type: 1,
						title: '预约看车',
						shade: [0.5, '#000'],
						area: ['460px', 'auto'],
						page: {dom: '#A1'}
					});
					$('#btnYuyueLookCar').on('click', function(){
						$.post("<{$weburl}>/index.php?m=ajax&ajax=1&yuyue=1",{
							pid: <{$cars.p_id}>, 
							uid: <{$cars.uid}>, 
							name: $("#A1 input[name='name']").val(), 
							mobilephone: $("#A1 input[name='mobilephone']").val(),
							ordertime: $("#A1 input[name='ordertime']").val(),
							orderinfo:$("#A1 textarea[name='orderinfo']").val()
						},function(data){
							if (data==1)
							{
								layer.close(yuyueindex);
								layer.alert("预约成功！请耐心等待商家和您联系！", 9);
								$('#yuyueform')[0].reset();
							}
							else{
								layer.close(yuyueindex);
								layer.alert("预约失败！请再次预约！", 9);
							}
						});
					});
				});
				$('#xunjia').on('click', function(){
					 var xunjiaindex = $.layer({
						type: 1,
						title: '咨询底价',
						shade: [0.5, '#000'],
						area: ['460px', 'auto'],
						page: {dom: '#B1'}
					});
					$('#btnxuejia').on('click', function(){
						$.post("<{$weburl}>/index.php?m=ajax&ajax=1&xunjia=1",{
							pid: <{$cars.p_id}>, 
							uid: <{$cars.uid}>, 
							name: $("#B1 input[name='name']").val(), 
							mobilephone: $("#B1 input[name='mobilephone']").val(),
						},function(data){
							if (data==1)
							{
								layer.close(xunjiaindex);
								layer.alert("询价成功！请耐心等待商家和您联系！", 9);
								$('#xunjiaform')[0].reset();
							}
							else{
								layer.close(xunjiaindex);
								layer.alert("询价失败！请再次询价！", 9);
							}
						});
					});
				});	
				
			})
		</script>
		</head>
	<body>
<!--内容--> 
<{include file="default/`$setting.templates`/head.html"}>
<div class="nav">您当前的位置：<a href="<{$weburl}>/">首页</a> <span>></span> <a href="<{$weburl}>/index.php?m=search">买车</a> <span>></span> <{$cars.p_allname}></div>
<div class="main mt10">
	<div class="carbox clearfix">
		<div class="carbox_left">
			<div class="carpicbox">
				<{if $cars.issell==1}>
					<div class="issell"></div>
				<{/if}>
				<{if $cars.p_mainpic<>""}>
				<img src="<{$weburl}><{$cars.p_mainpic}>" id="BigImg"/>
				<{else}>
				<img src="<{$weburl}>/static/img/bigcar.jpg"/>
				<{/if}>
			</div>
			<{if $pic_list neq ""}>
			<div class="ladyScroll">
				<a class="prev" href="javascript:void(0)"></a>
				<div class="scrollWrap">
					<div class="dlList">
						<{foreach from=$pic_list item=piclist}>
						<dl>
							<dt><img src="<{$weburl}><{$piclist.smallpic}>" onmousemove="javascript:document.getElementById('BigImg').src='<{$weburl}><{$piclist.pic}>'"></dt>
						</dl>
						<{/foreach}>
					</div>
				</div>
				<a class="next" href="javascript:void(0)"></a>
			</div>
			<script type="text/javascript">
				jQuery(".ladyScroll").slide({ mainCell:".dlList", effect:"leftLoop",vis:5, autoPlay:true});
			</script>
			<{/if}>
		</div>
		<div class="carbox_center">
		<ul class="clearfix">
			<{foreach from=$recombrandlist key=skey item=recombrand}>
			<li class="js-title">
				<a <{if $skey==0}>class="current"<{/if}> href="javascript:;"><img src="upload/brand/<{$recombrand.pic}>"><{$recombrand.b_name}></a>
            </li>
			<{/foreach}>
       </ul>
			<h1 class="carname"><{$cars.p_allname}></h1>
			<p class="gray01" style="line-height:28px;"><span>发布日期：<{$cars.listtime}><span class="pl10">浏览量：<span class="orange01" id="hits"></span>
			<span class="bdsharebuttonbox" style="float:right;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a></span>
			</p>
			<div class="pricebox clearfix">
				<div class="mt20">预售价格：<span class="price"><{$cars.p_price}></span>
				<{if $setting.version==2 or $setting.version==3}>
					<{if $shop.isdealer==2}>
						<a href="javascript:;" class="a3 clearfix" id="yuyue"><i></i><span>预约看车</span></a>
						<a href="javascript:;" class="a4 clearfix" id="xunjia"><i></i><span>咨询底价</span></a>
					<{/if}>
				<{else}>
						<a href="javascript:;" class="a3 clearfix" id="yuyue"><i></i><span>预约看车</span></a>
						<a href="javascript:;" class="a4 clearfix" id="xunjia"><i></i><span>咨询底价</span></a>
				<{/if}>
				</div>
				<div>出厂报价：<span class="fb white"><{$cars.p_newprice}></span>万  + <span class="fb white"><{$cars.p_tax}></span>万(购置税) 您节省了<span class="fb white"><{$cars.p_save}></span>万</div>
			</div>
			<div class="para">
				<ul class="clearfix">
                    <li>
                        <dl>
                             <dt><span class="img1"></span></dt>
                             <dd>表显里程<strong><{$cars.p_kilometre}>万公里</strong></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                             <dt><span class="img2"></span></dt>
                             <dd>上牌时间<strong><{$cars.p_year}>年<{$cars.p_month}>月</strong></dd>
                        </dl>
                    </li>
                    <li class="last">
                        <dl>
							<dt><span class="img3"></span></dt>
                            <dd>排放标准<strong><{$cars.p_emission}></strong>
							</dd>
						</dl>
                    </li>
				</ul>
            </div>
			<div class="contactbox" id="tel">
				<{if $cars.uid==0 or $cars.uid==-1}>
				<h3>免费咨询电话（8:30-17:00 周六日休息）</h3>
				<div class="box">
				    信息编号: <em><{$cars.p_no}></em><br/>
					<span class="tel"><{$setting.tel}></span>
				</div>
				<{else}>
				<h3>免费咨询电话（8:30-17:00 周六日休息）</h3>
				<div class="box">
				    信息编号: <em><{$cars.p_no}></em><br/>
					<p class="tel"><!--4000-400-400--><{$shop.mobilephone}><{if $shop.isdealer==2}>（商家车源）<{/if}></p>
				</div>
				<{/if}>
			</div>
			<div class="ensure"><!--保障服务-->
                <label>保障服务</label>
                <i class="i-yb"></i>延长质保&nbsp;&nbsp;&nbsp;<i class="i-ckb"></i>代办服务&nbsp;&nbsp;&nbsp;<i class="i-dk"></i>分期购车
			</div>
		</div>
		<div class="carbox_right">
			<{if $cars.uid!=0 and $shop.isdealer==2}>
			<h3>商家资料</h3>
			<div>
				<p class="tc mt15"><{if $shop.logo<>''}><img src="<{$shop.logo}>" class="mt20" width="120"><{else}><div class="noimg bc">暂无图片</div><{/if}></p>
				<p class="mt10 f14 fb tc"><{$shop.nicname}></p>
				<p class="mt20"><span class="gray01">门店：</span><{$shop.company}></p>
				<p class="mt10"><span class="gray01">地址：</span><{$shop.address}></p>
				<a href="<{$weburl}>/index.php?m=shop&id=<{$shop.id}>"><div class="menu">进入店铺</div></a>
			</div>
			<{else}>
			<h3>推荐车源</h3>
			<div>
				<ul class="carlist clearfix">
					<{foreach from=$samecar key=skey item=recomcarlist}>
					<{if $skey<2}>
					<li>
						<a href="<{$recomcarlist.p_url}>" target="_blank"><{if $recomcarlist.p_mainpic<>""}><img src="<{$recomcarlist.p_mainpic}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
						<p class="mt10"><a href="<{$recomcarlist.p_url}>" target="_blank"><{$recomcarlist.p_shortname}></a></p>
						<p><span class="gray01 fr"><{$recomcarlist.p_year}>年<{$recomcarlist.p_month}>月上牌</span><span class="orange01 fb"><{$recomcarlist.p_price}>万</span></p>
					</li>
					<{/if}>
					<{/foreach}>
				</ul>
			</div>
			<{/if}>
		</div>
	</div>
</div>
<div class="notice mt20">
	<span class="fr">客服电话：<span class="orange01"><{$setting.tel}></span></span>二手车交易车辆过户前请勿轻易给对方押金、订金，交易中请仔细查验车况，避免上当受骗。
</div>
<div class="main mt20 clearfix">
	<div class="main_left">
		<ul class="cardetail_tab clearfix">
			<li class="here"><a href="#A">车源详情</a></li>
			<!--<li><a href="#B">车主描述</a></li>
			<li><a href="#D">大图展示</a></li>-->
		</ul>
		<div class="cardetailbox">
			<h4 class="mt10"><span class="title">基本信息</span></h4>
			<div class="box">
				<ul class="cardetaillist clearfix">
					<li><span>车型：</span><{if $cars.modelname<>''}><{$cars.modelname}><{else}>无<{/if}></li>
					<li><span>上牌日期：</span><{$cars.p_year}>年<{$cars.p_month}>月</li>					
					<li><span>行驶里程：</span><{if $cars.p_kilometre<>''}><{$cars.p_kilometre}>万公里<{else}>无<{/if}></li>
					<li><span>颜色：</span><{if $cars.p_color<>''}><{$cars.p_color}><{else}>无<{/if}></li>
					<li><span>变速箱：</span><{if $cars.p_transmission<>''}><{$cars.p_transmission}><{else}>无<{/if}></li>
					<li><span>排量：</span><{$cars.p_gas}></li>	
				</ul>
				<ul class="cardetaillist clearfix">
					<{foreach from=$paralist key=key item=paralist}>
						<{if $paralist.type_name=='checkbox'}>
						<{foreach from=$list key=key item=list}>
						<{if $list.checkvalue==2}><li><span class="gray"></span><{$key}></li><{/if}>
						<{/foreach}>
						<{elseif $paralist.c_name=='DVD' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i1"></i>DVD</li></span>
						<{elseif $paralist.c_name=='电子稳定' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i2"></i>电子稳定(ESP)</li></span>
						<{elseif $paralist.c_name=='倒车雷达' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i3"></i>倒车雷达</li></span>
						<{elseif $paralist.c_name=='定速巡航' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i4"></i>定速巡航</li></span>
						<{elseif $paralist.c_name=='自动空调' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i5"></i>自动空调</li></span>
						<{elseif $paralist.c_name=='四轮驱动' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i6"></i>四轮驱动</li></span>
						<{elseif $paralist.c_name=='GPS导航' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i7"></i>GPS导航</li></span>
						<{elseif $paralist.c_name=='座椅加热' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i8"></i>座椅加热</li></span>
						<{elseif $paralist.c_name=='蓝牙电话' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i9"></i>蓝牙电话</li></span>
						<{elseif $paralist.c_name=='外接音源' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i10"></i>外接音源</li></span>
						
						<{elseif $paralist.c_name=='大灯随动' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i11"></i>大灯随动</li></span>
						<{elseif $paralist.c_name=='空气悬挂' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i12"></i>空气悬挂</li></span>
						<{elseif $paralist.c_name=='自动大灯' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i13"></i>自动大灯</li></span>
						<{elseif $paralist.c_name=='电动车窗' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i14"></i>电动车窗</li></span>
						<{elseif $paralist.c_name=='全景天窗' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i15"></i>全景天窗</li></span>
						<{elseif $paralist.c_name=='后座出风' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i16"></i>后座出风</li></span>
						<{elseif $paralist.c_name=='倒车影像' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i17"></i>倒车影像</li></span>
						<{elseif $paralist.c_name=='电动后备箱' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i18"></i>电动后备箱</li></span>
						<{elseif $paralist.c_name=='涡轮增压' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i19"></i>涡轮增压</li></span>
						<{elseif $paralist.c_name=='真皮座椅' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i20"></i>真皮座椅</li></span>
						
						<{elseif $paralist.c_name=='侧气囊帘' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i21"></i>侧气囊帘</li></span>
						<{elseif $paralist.c_name=='未知22' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i22"></i>未知22</li></span>
						<{elseif $paralist.c_name=='电动座椅' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i23"></i>电动座椅</li></span>
						<{elseif $paralist.c_name=='未知24' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i24"></i>未知24</li></span>
						<{elseif $paralist.c_name=='氙气大灯' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i25"></i>氙气大灯</li></span>
						<{elseif $paralist.c_name=='一键启动' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i26"></i>一键启动</li></span>
						<{elseif $paralist.c_name=='自动泊车入位' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i27"></i>自动泊车入位</li></span>
						<{elseif $paralist.c_name=='中控台彩屏' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i28"></i>中控台彩屏</li></span>
						<{elseif $paralist.c_name=='电动后视镜' && $paralist.c_value=='有'}><span class="icon_gp"><li><i class="i29"></i>电动后视镜</li></span>
						<{elseif $paralist.id > 9 && $paralist.id < 40}><span class="icon_gp"></span>
						<{else}>
						<li><span class="gray"><{$paralist.c_name}>：</span><{$paralist.c_value}></li>
						<{/if}>
						<{/foreach}>
				</ul>
			</div>
			<h4><span class="title">车主描述</span></h4>
			<div class="box">
				<{$cars.p_details}>
			</div>
			<h4><span class="title">大图展示</span></h4>
			<{if $pic_list neq ""}>
			<div class="box">
				<{foreach from=$pic_list item=piclist}>
				<p class="tc mt10"><img src="<{$weburl}><{$piclist.pic}>"></p>
				<{/foreach}>
			</div>
			<{/if}>
		</div>
	</div>
	<div class="main_right">
		<a href="#" target="_blank">
			<script language="javascript" src="/index.php?m=ad&id=56"></script>
			<{include file="default/`$setting.templates`/right.html"}>
		</a>
	</div>	
</div>
<div class="main">
	<div class="othercarbox mt15">
		<ul class="cardetail_tab clearfix">
			<li class="here">同车系其他车源</li>
		</ul>
		<div class="box mt15">
			<ul class="carlist clearfix">
				<{foreach from=$samecar key=skey item=recomcarlist}>
				<li>
					<a href="<{$recomcarlist.p_url}>" target="_blank"><{if $recomcarlist.p_mainpic<>""}><img src="<{$recomcarlist.p_mainpic}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
					<p class="mt10"><a href="<{$recomcarlist.p_url}>" target="_blank"><{$recomcarlist.p_shortname}></a></p>
					<p><span class="gray01 fr"><{$recomcarlist.p_year}>年<{$recomcarlist.p_month}>月上牌</span><span class="orange01 fb"><{$recomcarlist.p_price}>万</span></p>
				</li>
				<{/foreach}>
			</ul>
		</div>
	</div>
</div>
<div class="main">
	<div class="othercarbox mt15">
		<ul class="cardetail_tab clearfix">
			<li class="here">同价位其他车源</li>
		</ul>
		<div class="box mt15">
			<ul class="carlist clearfix">
				<{foreach from=$samepricecars key=skey item=recomcarlist}>
				<li>
					<a href="<{$recomcarlist.p_url}>" target="_blank"><{if $recomcarlist.p_mainpic<>""}><img src="<{$recomcarlist.p_mainpic}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
					<p class="mt10"><a href="<{$recomcarlist.p_url}>" target="_blank"><{$recomcarlist.p_shortname}></a></p>
					<p><span class="gray01 fr"><{$recomcarlist.p_year}>年<{$recomcarlist.p_month}>月上牌</span><span class="orange01 fb"><{$recomcarlist.p_price}>万</span></p>
				</li>
				<{/foreach}>
			</ul>
		</div>
	</div>
</div>
<div id="A1" class="hide">
	<div class="popnotice">
		<{$cars.p_allname}>，售价<{$cars.p_price}>，<{$cars.p_year}>年上牌，行驶<{$cars.p_kilometre}>万公里
	</div>
	<div class="p20">
	<form method="post" name="yuyueform" id="yuyueform" class="yuyueform">
		<table class="poptable">
		<tr>
			<th><span class="red">*</span> 姓名：</th>
			<td><input type="text" name="name" datatype="s" nullmsg="请填写姓名！"></td>
		</tr>
		<tr>
			<th><span class="red">*</span> 手机号：</th>
			<td><input type="text" name="mobilephone" datatype="m" nullmsg="请填写手机号！"></td>
		</tr>
		<tr>
			<th><span class="red">*</span> 预约时间：</th>
			<td><input type="text" class="laydate-icon" name="ordertime" datatype="*" nullmsg="请选择预约时间！" onclick="laydate()"></td>
		</tr>
		<tr>
			<th><span class="red">*</span> 留言：</th>
			<td><textarea name="orderinfo" rows="5" cols="25" datatype="*" nullmsg="请填写留言！"></textarea></td>
		</tr>
		<tr>
			<th></th>
			<td class="gray">您的信息不会在网站上显示，我们将保证您的隐私安全。</td>
		</tr>
		<tr>
			<th></th>
			<td><span class="button1 h35-p25 mr5"><a id="btnYuyueLookCar" href="javascript:;">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</a></span></td>
		</tr>
		</table>
	</form>
	</div>
</div>
<div id="B1" class="hide">
	<div class="popnotice">
		<{$cars.p_allname}>，售价<{$cars.p_price}>，<{$cars.p_year}>年上牌，行驶<{$cars.p_kilometre}>万公里
	</div>
	<div class="p20">
		<form method="post" name="xunjiaform" id="xunjiaform" class="xunjiaform">
		<table class="poptable">
		<tr>
			<th><span class="red">*</span> 姓名：</th>
			<td><input type="text" name="name" datatype="s" nullmsg="请填写姓名！"></td>
		</tr>
		<tr>
			<th><span class="red">*</span> 手机号：</th>
			<td><input type="text" name="mobilephone" datatype="m" nullmsg="请填写手机号！"></td>
		</tr>
		<tr>
			<th></th>
			<td class="gray">您的信息不会在网站上显示，我们将保证您的隐私安全。</td>
		</tr>
		<tr>
			<th></th>
			<td><span class="button1 h35-p25 mr5"><a id="btnxuejia" href="javascript:;">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</a></span></td>
		</tr>
		</table>
		</form>
	</div>
</div>
<{include file="default/`$setting.templates`/foot.html" }>
</body>
</html>

