<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$page.p_title}> - <{$setting.title}></title>
<meta content="<{$setting.keywords}>"  name="keywords"/>
<meta content="<{$setting.description}>" name="description"/>
<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/page.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="<{$weburl}>/static/js/jquery.js"></script>
<link rel="stylesheet" href="<{$weburl}>/admin/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="<{$weburl}>/admin/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="<{$weburl}>/admin/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="<{$weburl}>/static/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    //品牌选择
	$("#brand").change(function(){
		$.get("<{$weburl}>/index.php?m=ajax&ajax=1", { 
			brandid :  $("#brand").val() 
		}, function (data, textStatus){
               $("#subbrand").html(data); // 把返回的数据添加到页面上
			}
		);
	});
	//品牌选择
	$("#subbrand").change(function(){
		$.get("<{$weburl}>/index.php?m=ajax&ajax=1", { 
			subbrandid :  $("#subbrand").val() 
		}, function (data, textStatus){
               $("#subsubbrand").html(data); // 把返回的数据添加到页面上
			}
		);
	});
    <{if $setting.version==3}>
	//城市选择
	$("#province").change(function(){
		$.get("<{$weburl}>/index.php?m=ajax&ajax=1", { 
			cityid :  $("#province").val() 
		}, function (data, textStatus){
			$("#city").html(data); // 把返回的数据添加到页面上
		});
	});
	<{/if}>
	//表单验证
	$(".carform").Validform({
		tiptype:3
	});
});
</script>
</head>
<body>
<!--内容--> 
<{include file="default/`$setting.templates`/head.html"}>
<div class="nav">您当前的位置：<a href="<{$weburl}>/">首页</a> <span>></span> 城市 <span>></span> 城市选择</div>
<div class="main mt10 clearfix">
	<div class="citylist">
		<div class="searchcity">
			<div class="clearfix">
				<span class="fb f14">热门二手车城市</span>
				<span><a href="<{$weburl}>/index.php?m=city&cid=0" class="orange01 fb">全国站</a></span>
				<{foreach from=$recomcity item=recomcitylist}>
				<span><a href="<{$weburl}>/index.php?m=city&cid=<{$recomcitylist.id}>" class="fb"><{$recomcitylist.name}></a></span>
				<{/foreach}>
			</div>
			<div class="clearfix mt15">
				<form method="get" action="<{$weburl}>/index.php?m=city">
				<span class="fb f14">选择分站二手车</span>
				<span>
					<select name="aid" id="province" datatype="n" nullmsg="请选择省份！" class="select01">
						<{$selectprovince}>
					</select>
				</span>
				<span>
					<select name="cid" id="city" datatype="n" nullmsg="请选择城市！" class="select01">
						<{$selectcity}>
					</select>
				</span>
				<span>
					<input type="hidden" name="m" value="city">
					<input type="submit" value="确定" class="citybut">
				</span>
				</form>
			</div>
		</div>
	<{foreach from=$arealist item=area}>
		<h3><span class="title"><{$area.name}></span></h3>
		<ul class="citylist clearfix">
		<{foreach from=$area.citylist item=city}>
			<li><a href="<{$weburl}>/index.php?m=city&cid=<{$city.id}>"><{$city.name}></a></li>
			<{/foreach}>
		</ul>
		<{/foreach}>
	</div>
</div>
<!--版权--> 
<{include file="default/`$setting.templates`/foot.html"}>
</body>
</html>