<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><{$shop.company}> - <{$setting.title}></title>
		<meta content="<{$setting.keywords}>"  name="keywords"/>
		<meta content="<{$setting.description}>" name="description"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery.js"></script>
		<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/shop.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<script language="JavaScript">
		$(function(){
			$("#login").load("<{$weburl}>/index.php?m=ajax&ajax=1&login=1");
			//品牌选择
			$("#brand").change(function(){
				$.get("<{$weburl}>/index.php?m=ajax&ajax=1", { 
					bid :  $("#brand").val() 
				}, function (data, textStatus){
						   $("#subbrand").html(data); // 把返回的数据添加到页面上
					}
				);
			});
		})
		</script>
		<!--头部 -->
		<{include file="default/`$setting.templates`/shop_head.html"}>
		<!--内容-->
		<div class="main mt10 clearfix">
			<div class="shop_left">
				<{include file="default/`$setting.templates`/shop_left.html"}>
			</div>
			<div class="shop_right">
				<div class="search_box">
					<div class="condition">
						<span class="fr pr10"><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&clear=1" class="unl blue">清空条件</a></span>
						<span class="fl">您已选择：</span>
						<ul class="condition_list fl">
							<{if $smarty.cookies.srkeywords<>''}><li><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&k=" class="condition"><{$smarty.cookies.srkeywords}></a></li><{/if}>
							<{if $smarty.cookies.srbrand<> 0}><li><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=b_0" class="condition"><{$cache.brandlist[$smarty.cookies.srbrand]}></a></li><{/if}>
							<{if $smarty.cookies.srsubbrand<> 0}><li><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&sb=0" class="condition"><{$subrandname}></a></li><{/if}>
							<{if $smarty.cookies.srmodel<> 0}><li><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=m_0" class="condition"><{$cache.rentmodellist[$smarty.cookies.srmodel]}></a></li><{/if}>
							<{if $smarty.cookies.srprice<>0}><li><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=p_0" class="condition"><{$arr_price[$smarty.cookies.srprice]}></a></li><{/if}>
						</ul>
					</div>
					<ul class="search_list">
						<form method="get" action="<{$weburl}>/index.php">
						<li>品 牌： <a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=b_0" <{if $smarty.cookies.brand==0}>class="here"<{/if}>>全部</a><{foreach from=$arr_brand key=skey item=brandlist}><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=b_<{$skey}>" <{if $smarty.cookies.brand==$skey}>class="here"<{/if}>><{$brandlist}></a><{/foreach}>
						<select id="brand" name="c">
							<{$selectbrandsearch}>
						</select>
						<select id="subbrand" name="sb">
							<option value="">请选择车系</option>
						</select>
						<input type="hidden" name="m" value="shop">
						<input type="hidden" name="a" value="rentcars">
						<input type="hidden" name="id" value="<{$shop.id}>">
						<input type="submit" value="搜索" class="cbutton">
						</li>
						</form>
						<li>车 型： <a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=m_0" <{if $smarty.cookies.model==0}>class="here"<{/if}>>全部</a><{foreach from=$cache.rentmodellist key=skey item=modellist}><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=m_<{$skey}>" <{if $smarty.cookies.model==$skey}>class="here"<{/if}>><{$modellist}></a><{/foreach}></li>
						<li>价 格： <a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=p_0"  <{if $smarty.cookies.price==0}>class="here"<{/if}>>全部</a><{foreach from=$arr_price key=skey item=pricelist}><a href="<{$weburl}>/index.php?m=shop&a=rentcars&id=<{$shop.id}>&c=p_<{$skey}>" <{if $smarty.cookies.price==$skey}>class="here"<{/if}>><{$pricelist}></a><{/foreach}></li>
					</ul>
				</div>
				<div class="shopbox mt10">
					<h3>在租车源</h3>
					<div class="box"> 
						<ul class="bigcarlist clearfix">
							<{foreach from=$rentcarslist key=skey item=cars_list}>
							<li <{if ($skey+1)%4<>0}>class="bbg"<{/if}>>
								<a href="<{$cars_list.p_url}>" target="_blank"><{if $cars_list.p_mainpic<>""}><img src="<{$cars_list.p_mainpic}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
								<p class="carname mt5"><a href="<{$cars_list.p_url}>" target="_blank"><{$cars_list.p_title}></a></p>
								<p class="price"><{$cars_list.dayprice}></p>
							</li>
							<{/foreach}>
						</ul>
					</div>
					<div class="page_list"><{$button_basic}></div>
				</div>
			</div>
		</div>
		<!--版权-->
		<{include file="default/`$setting.templates`/foot.html"}>
	</body>
</html>
